__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment variables
.env
venv/

# Chroma vector DB
data/chroma_db/
.chroma_db/

# Temporary folders
tmp*/
outputs_aiohttp/

# Zip files
*.zip

# Docker local overrides / build artifacts
.docker/
docker-compose.override.yml
docker-compose.local.yml

# OS / misc  
.DS_Storeoutputs_aiohttp/
keyavenv/
__pycache__/
*.pyc


./logs/